
<br>
<h3><%=current_user.name%>'s posts</h3>
<br>
<%@posts.each do |post|%>
    <strong>Topic:</strong> <%=post.topic%><br>
    <strong>Post:</strong> <%=post.content%><br>
    <a href="../posts/<%=post.id%>/edit">Edit</a>
    <br>
    <br>
<%end%>
