
<h3>Login to Share Something Good!</h3>
<form method="post" action="/login">
  <input type="text" name="email" placeholder="Email:">
  <input type="password" name="password" placeholder="Password:">

  <input type="submit" value="Log In">
</form>
<br>
Don't have a account? <a href="users/new">Sign up!</a>