<h3>Edit your post</h3>
<br>
<strong>Topics:</strong>
<form action='/posts/<%=@post.id%>' method="post">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="radio" name="topic" value="health"> Health 
    <input type="radio" name="topic" value="spouse"> Spouse 
    <input type="radio" name="topic" value="career"> Career 
    <input type="radio" name="topic" value="friends"> Friends <br><br>
    <strong>Post:</strong><br>
    <input type="textarea" name="content" value="<%=@post.content%>"><br>
    <input type="submit" id="submit" value="Edit">
    <form action="/posts/<%=@post.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Delete" id="submit">
    </form> <br><br>
</form>
