<h3>Create a new post</h3>
<br>
Looking for some inspiration? <a href="https://www.dispatch.com/entertainment/20200803/50-positive-things-that-happened-in-2020-so-far">Here are 50 good things that have happend so far in 2020.</a><br>
<br>
<strong>Topics:</strong>
<form action='/posts' method="post">
<input type="checkbox" name="topic" value="health"> Health 
<input type="checkbox" name="topic" value="spouse"> Spouse 
<input type="checkbox" name="topic" value="career"> Career 
<input type="checkbox" name="topic" value="friends"> Friends <br><br>
<strong>Share something good here:</strong><br>
<input type="textarea" name="content"><br>
<input type=submit value="Create Post">
</form>
