<h1>Share something good...</h1>
Looking for some inspiration? <a href="https://www.dispatch.com/entertainment/20200803/50-positive-things-that-happened-in-2020-so-far">Here are 50 good things that have happend so far in 2020.</a>