<h1>Share Something Good</h1>
<br>
Americans who find meaning in their health, spouse, career, or friends have a higher life satisfaction than those who find meaning in other areas. Those who find meaning in all four, have an even higher life satisfaction.
<br>
<a href="https://www.pewresearch.org/fact-tank/2018/11/20/americans-who-find-meaning-in-these-four-areas-have-higher-life-satisfaction/">Pew Research</a>
<br>
<br>
Humans are more prone to and more affected by negative stimuli than positive stimuli. <br>
<a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3652533/">Empirical Study published in Psychological Bulletin</a>
<br>
<br>
It's likely that there is a disproportionate media coverage of bad news versus good news.
<br>
<a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1780162">SSRN</a>
<br>
<br>
<br>
<a href="login">Log in</a> to Share Something Good!
<br> Don't have an account but still want to Share Something Good? <a href="users/new"> Click here to sign up! </a>